/*fonts*/

@import "fonts.css";


/*Specification*/


*:focus {
	outline: none !important;
	box-shadow: none !important;
}

body{
	font-family: "Muller", "Arial", sans-serif;
	padding: 0;
	margin: 0;
	letter-spacing: 0.02em;
	font-size: 18px;
	color: #797c80;
	transition: all 0.1 ease;
	font-weight: 400;
	line-height: 1.5em;
}

.container{
	margin: 0 auto;
	padding: 0;
	width: 95%;
	max-width: 1135px;
}

.div, p, form, input, a, span, button{
	box-sizing: border-box;
}

ul, li{
	display: block;
	padding: 0;
	margin: 0;
}

h1, h2, h3, h4, h5, h6{
	line-height: 1.2em;
	color: #fff;
	font-weight: 400;
	text-align: center;
}

h1{
	display: table;
	font-size: 80px;
  	text-transform: uppercase;
  	background: linear-gradient(90deg, #8553be 1%, #d724cc 50%, #8553be 99%);
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
  	color: #0B2349;
  	margin: 20px auto;
  	font-weight: 900;
  	margin-top: 15px;
  	margin-bottom: 0;
}

h2{
	font-size: 52px;
	color: #fff;
	text-align: left;
	font-family: "Muller", "Arial", sans-serif;
	font-weight: 700;
	margin: 0;
}

h3{
	font-size: 36px;
	color: #fff;
}

a, a:hover, a:active{
	text-decoration: none;
	color: inherit;
}

.btn{
	text-align: center;
	cursor: pointer;
	transition: all 0.5s ease;
 	background: linear-gradient(90deg, #7f12ab 20%, #d724cc 90%);
 	box-shadow: inset 0px 0px 21px 0px rgba(255, 255, 255, 0.004);
  	width: 370px;
  	height: 75px;
  	font-size: 20px;
  	font-family: "AlphaHeadline";
  	font-weight: 700;
  	text-transform: uppercase;
  	color: #fff;
  	line-height: 1.2;
  	border-radius: 90px;

}

.btn:hover{

}
.d-flex{
	display: flex;
}

.align-center{
	align-items: center;
}

.space-between{
	justify-content: space-between;
}

.space-around{
	justify-content: space-around;
}

.text-center{
	text-align: center;
}


/*Header*/


header{
	background-image: url(../img/header-bg.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-color: #20203a;
	min-height: 100vh;
}

.head{
	padding-top: 50px;
}

.logo{

}
.phone_desktop{
	display: block;
}

.phone_mobile{
	display: none;
}

#menu__toggle{
	opacity: 0;
	position: absolute;
	top: 1px;
}

.menu__item{
	padding-right: 50px;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 14px;
}

.menu__item:last-child{
	padding-right: 0;
}

.head__phone{
	font-family: 'Playfair Display', "Arial", sans-serif;
	color: #fff;
	font-size: 28px;
}

.offer{
	width: 100%;
	max-width: 750px;
	margin-top: 260px;
}

.date{
	font-family: "Playfair Display";
	font-weight: 400;
	font-size: 32px;
	width: 315px;
	color: #fff;
}

.offer_text{
	color: #8282a2;
	text-align: right;
}

.offer__btn{
	display: block;
	margin: 0 0 0 auto;
	margin-top: 95px;
	padding-top: 25px;
}





@media screen and (max-height: 840px){
	.offer{
		margin-top: 180px;
	}

	.offer__btn{
		margin-top: 50px;
	}
}



@media screen and (max-width: 1000px){
/* стилизуем кнопку */
.menu__btn {
  display: flex; /* используем flex для центрирования содержимого */
  align-items: center;  /* центрируем содержимое кнопки */
  position: fixed;
  top: 20px;
  left: 20px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  z-index: 1;
}
/* добавляем "гамбургер" */
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #aaa;
  transition: all .2s ease;
}
.menu__btn > span::before {
  content: '';
  top: -8px;
}
.menu__btn > span::after {
  content: '';
  top: 8px;
}

/* контейнер меню */
nav{
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  left: -100%;
  width: 300px;
  height: 100%;
  padding: 80px 0;
  margin: 0;
  background-color: #ECEFF1;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
  transition: all .2s ease;
}

.nav__list{
	display: block;
 	list-style: none;
  	text-align: center;
}

/* элементы меню */
.menu__item {
  display: block;
  padding: 20px 24px;
  color: #333;
  font-size: 20px;
  text-decoration: none;
}
.menu__item:hover {
  background-color: #CFD8DC;
}


#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}
#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ nav {
  visibility: visible;
  left: 0;
}
}

@media screen and (max-width: 800px){
	.date{
		font-size: 5vw;
		line-height: 5vw;
	}

	h1{
		font-size: 20vw;
	}

	h2{
		font-size: 10vw;
	}
	.offer_text{
		font-size: 7vw;
	}
}

@media screen and (max-width: 500px){
	.phone_desktop{
		display: none;
	}

	.phone_mobile{
		display: block;
	}

	.offer__btn{
		width: 80%;
		margin: 30px auto;
	}
}
